{% extends 'base.html.twig' %}

{% block title %}Edit Botanist{% endblock %}

{% block body %}
    <h1>Edit Botanist</h1>

    {{ include('botanist/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_botanist_index') }}">back to list</a>

    {{ include('botanist/_delete_form.html.twig') }}
{% endblock %}
