{% extends 'base.html.twig' %}

{% block title %}Gardening index{% endblock %}

{% block body %}
    <h1>Gardening index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gardening in gardenings %}
            <tr>
                <td>{{ gardening.id }}</td>
                <td>
                    <a href="{{ path('app_gardening_show', {'id': gardening.id}) }}">show</a>
                    <a href="{{ path('app_gardening_edit', {'id': gardening.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_gardening_new') }}">Create new</a>
{% endblock %}
