{% extends 'base.html.twig' %}

{% block title %}New Gardening{% endblock %}

{% block body %}
    <h1>Create new Gardening</h1>

    {{ include('gardening/_form.html.twig') }}

    <a href="{{ path('app_gardening_index') }}">back to list</a>
{% endblock %}
